* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}
.places-container {
    z-index: 4;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}
.combobox-input {
    width: 500px;
    border-radius: 10px;
    background-color: #282828;
    opacity: 60%;
    padding: 5px;
    border: 1px solid lightgray;
    color: lightgray;

}
#maps {
    position: absolute;
    z-index: 10;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home-page {
    height: 100%;
}


/* Header */
header {
    height: 60px;
    opacity: 80%;
    /* background-image: linear-gradient (yellow, blue); */
    background-color: #facc2a; 
    width: 100%;
}

.navbar1 {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    /* background-color: #f1f1ca55; */
    justify-content: space-between;
}

.navbar1 ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.navbar1 ul li {
    margin-left: 15px;
}

.navbar1 ul li a {
    color: black;
}

.link:hover {
    text-decoration: underline;
    pointer-events: painted;
}

.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-icon,
.user-icon span {
    font-size: 18px;
}

.user-icon span {
    color: black;
}

.user-icon {
    background-color: #FFF;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

/* Content */
.content-section {
    flex-grow: 1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
}

.logo-img {
    width: 138px !important;
    margin-bottom: 20px;
}

#logo-img {
    width: 55px;
    height: 40px;
}

.search-bar {
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #282828;
    opacity: 85%;
}

.search-input {
    background-color: #282828;
    color: lightgray;
}

.search-input::placeholder {
    color: lightgrey;
}


.search-bar:hover {
    box-shadow: 0px 0px 4px 0px #b5b5b5;
}

.search-bar i {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    cursor: pointer;
}

.search-bar input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}


.search-bar input:focus {
    outline: none;
}

.search-btns {
    margin-top: 20px;
}

.search-btns button {
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    color: #F2F3F4;
    background-color: black
}


#btnFon:hover {
    border: 1px solid yellow;
}

.google-search-btn {
    width: 120px;
}

.lucky-search-btn {
    width: 140px;
}

.language {
    margin-top: 20px;
    font-size: 14px;
}

.language p a {
    color: blue;
}

.language p a:hover {
    text-decoration: underline;
}

#btnCat {
    background-color: orange;
    color: black;
    margin-right: 10px;
}

#btnCat:hover {
    border: 1px solid black;

}

#btnCat1 {
    color: black;
    margin-right: 10px;
    width: 115px;
}

#btnCat1:hover {
    border: 1px solid orange;
}

.main-logo {
    width: 300px;
}
#myList{
    height:35px;
    width: 270px;
    border-radius: 50px;
    margin-right: 5px;
    background-color: #bbb9b9;
    border: solid 1px #FFFFFF;
}

/* Footer */
footer {
    background-color: #F2F2F2;
    height: 50px;
    width: 100%;
    position: absolute;
    /* bottom: -60px;
    width: 100%; */
}



.footer-content {
    padding: 10px;
    margin-right: 10px;
}

.upper-footer {
    height: 50%;
    border-bottom: 1px solid lightgray;
}

#go-up {
    width: 30px;
    height: 30px;
    color: gray;
    border-radius: 50%;
    border: 1px solid gray;
}

.upper-footer p {
    color: gray;
    font-size: 14px;
}

.lower-footer {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.lower-footer ul li a {
    font-size: 14px;
    color: gray;
}

.lower-footer ul li a:hover {
    text-decoration: underline;
}

.lower-left-footer {
    display: flex;
}

.lower-left-footer li {
    margin-right: 15px;
}


.lower-right-footer {
    display: flex;
}

#By {
    margin-right: 10px;
}
.lower-right-footer li {
    margin-left: 15px;
}

#search-icon {
    color: orange;
}

#key-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#key-icon {
    border-radius: 50%;
    padding: 5px;
    font-size: 27px;
    margin-top: 3px;
    /* margin-right: 100px; */
}




/* Mobile and Tablet */
@media only screen and (max-width: 650px) {

    /* navbar11 */
    .navbar11 ul {
        font-size: 10px;
    }

    .menu-icon,
    .user-icon span {
        font-size: 14px;
    }

    .circle-shadow {
        height: 30px;
        width: 30px;
    }

    /* Logo */
    .logo-img {
        width: 200px;
    }

    /* Search Bar */
    .search-bar {
        width: 90%;
        height: 35px;
    }

    .search-bar i {
        font-size: 14px;
    }

    /* Buttons */
    .search-btns button {
        height: 30px;
        font-size: 12px;
    }

    .google-search-btn {
        width: 100px;
    }

    .lucky-search-btn {
        width: 120px;
    }

    /* Language */
    .language {
        font-size: 12px;
    }

    /* Footer */
    footer {
        height: 50px;
        margin-top: 600px;
    }

    .upper-footer {
        height: 50px;
    }

    .lower-footer {
        height: 100px;
        flex-direction: column;
    }

    .lower-left-footer {
        flex-wrap: wrap;
    }

}

.hed {
    z-index: 100;position: relative;

}


@media only screen and (max-width: 400px) {
    .logo-img {
        margin-top: -52;
        width: 80px;
    }
}