#main-div {
    background-color: #b9c6c4;
    display: inline-grid;
}

.men {
    margin-right: 30px;
}
#form {
    height: fit-content;
    width: fit-content;
}

.nas {
    margin-right: 5px;
}

.wrapper {
    background-color: #C8D7D4;
}

.registration-forms {
    padding: 10px 20px;
    max-width: 100%;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.05);
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

#personal{
    display: flex;
    position:fixed;
      top: 40px;
      bottom: 40px;
      height: 650px;
      right: 70px;
}

@media screen and (max-width: 576px) {
    .registration-forms {
        width: 100%;
    }
}


.registration-forms img {
    width: 120px;
}

.registration-forms .form-control::placeholder {
    color: #CCC;
}

#logos2 {
    margin-top: 30px;
}

.bg-images {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    max-width: 800px;
    height: 100vh;
}

#myFile {
    background-color: white;
    width: 350px;
    border-radius: 3px;

}

#inputCity {
    resize: none;
    outline: none;
    height: 60px;
}

.MP {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.mP {
    border-radius: 10px;
}