#main-div{
    background-color: #C8D7D4;
    display: inline-grid;
}
#form{
    height: fit-content;
    width: fit-content;
}
#myFile {
    background-color: white;
    width: 350px;
    border-radius: 3px;
    
}

#inputCity{
    resize: none;
    outline: none;
    height: 120px;
}