.map-container {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: calc(100vh - 60px);
}

#des {
    padding: 5px;
}


#imgg {
    width: 100px;
    filter: blur(6px);
    border-radius: 10px;
    margin-top: 10px;
}


.times {
    font-family: 'Quicksand', sans-serif;
    color: gray;
    float: left;
}


#nema {
    max-width: fit-content;
    margin-top: 20px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #282828;
}


.div:hover {
    color: rgba(0, 0, 0, .5);
}

.map-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#map {
    width: 100%;
    height: 100%;
}

.combobox-input::placeholder {
    color: lightgray;
}
.places-container{
    margin-top: 120px;
}



