#map {
    background-color: #EEEEEE;
    height: 100vh;
    width: 100%;
}

#map-container {
    position: absolute;
    z-index: -10;
    top: 0;
    width: 100%;
}

#map-container::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fffdeec2;
    position: absolute;
    top: 0;
    left: 0;
}