#dropdownMenuButton{
z-index: 60;
background-color: #282828;
border: 0.5px solid #282828;
}

#show {
    padding: 0px;
}

.dropdown-menu {
   min-width: 0px;
   padding: 0px;
}
#all-posts {
    /* position: absolute; */
    border-radius: 5px;
    top: 10px;
}
