body {
    /* background-color: rgb(211, 211, 201); */
}

.wrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
    background-color: #C8D7D4;
}

.bg-image {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    max-width: 800px;
    height: 100vh;
}
.registration-form {
    padding: 10px 20px;
    max-width: 100%;
    width: 400px;
    background-color: rgba(0,0,0,0.05);
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.registration-form .form-control::placeholder {
    color: #CCC;
}
#form-div{
    margin-top: -70px;
}
#personal{
        width: 400px;
    }

@media screen and (max-width: 768px) {
    .bg-image {
        opacity: .2;
    }
}

@media screen and (max-width: 576px) {
    .registration-form {
        width: 100%;
    }
}
.registration-form img {
    width: 120px;
}
.title {
    font-weight: 600;
}

#personal {
    width: 100%;
    height: 100%;
}

/* input, select, textarea {
    color: red;
} */

/* #name {
    color: rgb(219, 135, 52);
}

#email {
    color: rgb(219, 135, 52);
}

#password {
    color: rgb(219, 135, 52);
}

#password_confirmation {
    color: rgb(219, 135, 52);
} */