
.cards {
    gap: 20px;
    display: inline-block;
    margin: 10px;
}

.item {
    border: 1px solid lightgrey;
    width: 18rem;
    border-radius: 5px;
}

#imgs { 
    max-width: 100%;
}

#imgIcon {
    width: 70px;
    border-radius: 50px;
}

